name: Build NextJS project

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    
jobs:

  build:
    name: Compile Frontend and CDN

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the NextJS Server
      env:
        BUILD: "true"
      run: cd frontend && npm i && npm run build
    - uses: actions/upload-artifact@v3
      with:
        name: next-server
        path: frontend/build/standalone/
    - uses: actions/upload-artifact@v3
      with:
        name: next-static
        path: frontend/build/static/

  static:
    permissions: write-all
    name: Build static image
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name:  next-static
          path:  cdn/static/
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build the Docker image
        run: cd cdn && docker compose -f ./docker-compose.yml build
      - name: Push to GHCR.io
        run: docker push ghcr.io/apollo-xiv/k8s-cdn:latest


  server:
    permissions: write-all
    name: Build server image
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name:  next-server
          path:  frontend/build/standalone
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build the Docker image
        run: cd frontend && docker compose -f ./docker/production/docker-compose.yml build
      - name: Push to GHCR.io
        run: docker push ghcr.io/apollo-xiv/k8s-frontend:latest